src/main/resources/opc_ua/UANodeSet.minimized_test.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    targetNamespace="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd"
    elementFormDefault="qualified"
    xmlns="http://opcfoundation.org/UA/2011/03/UANodeSet.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:complexType name="NodeIdAlias">
    <xs:simpleContent>
      <xs:extension base="NodeId">
        <xs:attribute name="Alias" type="xs:string"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="NodeId">
    <xs:restriction base="xs:string"></xs:restriction>
  </xs:simpleType>


</xs:schema>
